In [7]:
import pandas as pd

# Cargar el dataset
datos_excel = pd.read_excel('../data/raw/boletin_2016_01-2024_08.xlsx')
datos_excel.head()

,C,C.1,C.2,km/h,km/h.1,HPa,mm,W/m2,index,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,2016,1,1,10.3,11.2,20,40,9.2,1,30,...,6,55,1004.6,0.0,256.0,12,25,1.5,12,25
1,2016,1,2,11.8,18.1,19,30,8.6,0,55,...,15,20,996.2,0.2,798.0,13,20,4.9,13,25
2,2016,1,3,11.3,16.4,15,0,5.6,5,40,...,10,35,1004.3,0.0,1186.0,15,0,5.1,13,50
3,2016,1,4,12.5,18.6,15,20,6.1,2,50,...,17,30,1004.1,0.0,1096.0,12,55,5.0,12,55
4,2016,1,5,12.0,18.8,15,15,6.1,23,55,...,16,15,1005.4,0.0,1055.0,15,10,4.3,15,15

In [10]:
# Ver los nombres de las columnas
datos_excel.columns

# Renombrar columnas manualmente
new_column_names = [
    'Año',  # Variable A
    'Mes',  # Variable M
    'Día',  # Variable D
    'Temp Media',  # temp media
    'Temp Máxima',  # temp max
    'Hora Temp Max',  # H tmax
    'Minuto Temp Max',  # M tmax
    'Temp Mínima',  # temp min
    'Hora Temp Min',  # H tmin
    'Minuto Temp Min',  # M tmin
    'Viento Medio',  # Viento en km/h
    'Dirección Viento',  # dir
    'Ráfaga de Viento',  # rfga
    'Dirección de Ráfaga',  # dir (de la ráfaga)
    'Hora Viento',  # H (Hora del viento)
    'Minuto Viento',  # M (Minuto del viento)
    'Presión Media',  # pres. media
    'Lluvia Diaria',  # lluvia diaria
    'Radiación Máxima',  # rad max
    'Hora Radiación Máxima',  # H rad
    'Minuto Radiación Mínima',  # M rad
    'UV Máximo',  # UV max
    'Hora UV Máximo',  # H UVmax
    'Minuto UV Máximo'  # M UVmax
]

# Asignar los nuevos nombres (asegúrate de tener el mismo número de nombres)
datos_excel.columns = new_column_names

# Mostrar el DataFrame con los nuevos nombres de columna
print(datos_excel.head())

    Año Mes Día Temp Media Temp Máxima Hora Temp Max Minuto Temp Max  \
0  2016   1   1       10.3        11.2            20              40
1  2016   1   2       11.8        18.1            19              30
2  2016   1   3       11.3        16.4            15               0
3  2016   1   4       12.5        18.6            15              20
4  2016   1   5       12.0        18.8            15              15

  Temp Mínima Hora Temp Min Minuto Temp Min  ... Hora Viento Minuto Viento  \
0         9.2             1              30  ...           6            55
1         8.6             0              55  ...          15            20
2         5.6             5              40  ...          10            35
3         6.1             2              50  ...          17            30
4         6.1            23              55  ...          16            15

  Presión Media Lluvia Diaria Radiación Máxima Hora Radiación Máxima  \
0        1004.6           0.0            256.0                    12
1         996.2           0.2            798.0                    13
2        1004.3           0.0           1186.0                    15
3        1004.1           0.0           1096.0                    12
4        1005.4           0.0           1055.0                    15

  Minuto Radiación Mínima UV Máximo Hora UV Máximo Minuto UV Máximo
0                      25       1.5             12               25
1                      20       4.9             13               25
2                       0       5.1             13               50
3                      55       5.0             12               55
4                      10       4.3             15               15

[5 rows x 24 columns]

In [ ]:
# Revisar si hay valores faltantes
datos_excel.isnull().sum()